.container-fluid{
    background-color: rgb(173, 223, 177);
    min-height: 67vh;
    margin-bottom:22px;
    min-height: calc(100vh - 229px);
}

#btn{
   
    border:orange solid;
}

#api-quotation{
    margin-top:20px;
    /* border:green solid; */
    padding:20px 20px;
    font-size:1.5rem;
    font-family:cursive;
}