.container-fluid{
    background-color: bisque;
    min-height: 67vh;
    margin-bottom:22px;
    min-height: calc(100vh - 229px);
}

h2{
    padding-top:40px;
    padding-bottom: 50px;
}

#button{
    margin-top:20px;
    margin-bottom:20px;
}

#result{
    font-family: cursive;
    color: rgb(190, 25, 53);
}

#n_tries{
    font-family: cursive;
    color: rgb(190, 25, 53);
}

#your_past_guesses{
    font-family: cursive;
    color: rgb(190, 25, 53);

}