


.container-fluid{
    background-color:wheat;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    min-height: 67vh;
    margin-bottom:22px;
    min-height: calc(100vh - 229px);
}

h5{
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 400;
}